#########################################################################################
# Code Ownership for eslint-config-me
#   All files owned by skye2k2
#
# See https://help.github.com/en/articles/about-code-owners for information on how to use
#########################################################################################

*   @skye2k2
